@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  color: var(--main-color);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--fon-second);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

.link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
}

.conteiner {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --fon-second: #FFFFFF;
  --accent: #2196F3;
  --logo-color: #000000;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 24px;
  text-align: center;
  height: 80px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.logo .logo-span {
  color: var(--accent);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
  position: relative;
  padding-bottom: 32px;
  margin-top: 32px;
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}
.navigation__link--current {
  color: var(--accent);
}
.navigation__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* contact */
.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__item {
  margin-right: 50px;
}
.contact__item:last-child {
  margin-right: 0;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin-right: 50px;
  color: var(--secondary-color);
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.contact__link:hover, .contact__link:focus {
  color: #2196F3;
}
.contact__link:last-child {
  margin-right: 0px;
}

.contact-icon {
  margin-right: 10px;
  color: var(--secondary-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
}
.contact__link:hover .contact-icon, .contact-linr:focus .contact-icon {
  fill: #2196F3;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/fon.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2F303A;
}

.hero__group {
  max-width: 696px;
}

.hero__title {
  margin-bottom: 40px;
}

.hero__button {
  padding: 10px, 32px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: var(--fon-second);
  background-color: var(--accent);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  border: 0px;
  text-align: center;
  margin: auto;
  display: block;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: var(--animation-time);
  transition: var(--animation-time);
}

.features {
  padding-bottom: 94px;
}

.features_group {
  padding-top: 94px;
}

.features__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  background-size: contain;
}

.features__box-icon {
  width: 70px;
  height: 70px;
  background-size: contain;
}

.features__secondary-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.features__text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.7;
  margin-top: 14px;
  width: 270px;
}

.section {
  padding-bottom: 94px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
}

.work-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
}
.work__list:last-child {
  margin-right: 0;
}

.work__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-image {
  position: relative;
}

.work-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--fon-second);
  margin: 0;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #F5F4FA;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
}

.team__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.team__item {
  margin-right: 30px;
  text-align: center;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:last-child {
  margin-right: 0;
}

.team__information {
  background-color: #FFFFFF;
  height: 108px;
}

.team__information-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  padding-top: 30px;
}

.team__information-profesion {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--secondary-color);
  margin-bottom: 30px;
  margin-top: 10px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #757575;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
  -webkit-transition: background-color var(--animation-time);
  transition: background-color var(--animation-time);
}
.social-media__link:hover, .social-media__link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.social-media__icon {
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.social-media__icon:hover, .social-media__icon:focus {
  color: #2196F3;
}

.section {
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
}

.clients-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.clients-group:hover, .clients-group:focus {
  color: var(--accent);
}

.clients__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border var(--animation-time);
  transition: border var(--animation-time);
}
.clients__card:not(:last-child) {
  margin-right: 30px;
}
.clients__card:hover, .clients__card:focus {
  border: 1px solid var(--accent);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  -webkit-transition: border-radius var(--animation-time);
  transition: border-radius var(--animation-time);
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
}
.clients__card:hover .clients-icon, .clients__card:focus .clients-icon {
  fill: var(--accent);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Footer address
  |============================
*/
.footer__logo {
  color: #FFFFFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin-bottom: 20px;
}

.footer__logo-span {
  color: var(--accent);
}

.address__group {
  font-style: normal;
  color: #FFFFFF;
}

.address__list {
  margin-top: 20px;
}

.address__item {
  margin-bottom: 9px;
}

.address__text {
  color: var(--secondary-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.address__text.address__text-color {
  color: #FFFFFF;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color var(--animation-time);
  transition: color var(--animation-time);
}
.address__text:hover, .address__text:focus {
  color: var(--accent);
}

/**
  |============================
  | Footer social media
  |============================
*/
.footer__social-media {
  margin-left: 50px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 14px;
  margin-top: 14px;
}

.footer__social-media-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__social-media-item {
  margin-right: 10px;
}
.footer__social-media-item:last-child {
  margin-right: 0;
}

.footer__social-media-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer__social-media-link.accent {
  -webkit-transition: background-color var(--animation-time);
  transition: background-color var(--animation-time);
}
.footer__social-media-link.accent:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}

.footer__social-media-icon {
  fill: #FFFFFF;
  -webkit-transition: background-color var(--animation-time);
  transition: background-color var(--animation-time);
}

/**
  |============================
  | Footer form
  |============================
*/
.footer__form {
  margin-left: 93px;
}

.footer__form-title {
  font-weight: 700;
  color: var(--fon-second);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.footer__wraper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__form-input {
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #757575;
  background-color: #2F303A;
  margin-right: 12px;
  color: #fff;
}

.footer__form-button {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #2196F3;
  border: #2196F3;
  border-radius: 3px;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__send-title {
  font-size: 16px;
  width: 700;
  line-height: 1.875;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__send-icon {
  margin-left: 10px;
  fill: #F5F4FA;
}

.conteiner__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item {
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0;
}

.filter__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  background-color: #F5F4FA;
  border: 0px;
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-duration) var(--timing-function), color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function), color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function), color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function), color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent);
  color: var(--fon-second);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/**
  |============================
  | Progect
  |============================
*/
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
  padding-bottom: 94px;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  -webkit-transition: -webkit-box-shadow var(--animation-time);
  transition: -webkit-box-shadow var(--animation-time);
  transition: box-shadow var(--animation-time);
  transition: box-shadow var(--animation-time), -webkit-box-shadow var(--animation-time);
}
.product__item:hover, .product__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__item:nth-child(3n) {
  margin-right: 0;
}

.product__card {
  position: relative;
  overflow: hidden;
}

.product__slider {
  position: absolute;
  bottom: -1%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover .product__slider {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__text {
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  padding: 63px 24px 63px 24px;
  margin: 0;
}

.product__frame {
  padding-top: 20px;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  text-align: left;
  width: 370px;
}

.product__title {
  font: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  margin-left: 24px;
}

.product__subtitle {
  margin: 0;
  padding-bottom: 20px;
  margin-left: 24px;
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opasity var(--transition-duration), visibility var(--timing-function);
  transition: opasity var(--transition-duration), visibility var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--fon-second);
  min-width: 528px;
  min-height: 581px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: opasity var(--timing-function), -webkit-transform var(--transition-duration);
  transition: opasity var(--timing-function), -webkit-transform var(--transition-duration);
  transition: transform var(--transition-duration), opasity var(--timing-function);
  transition: transform var(--transition-duration), opasity var(--timing-function), -webkit-transform var(--transition-duration);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  fill: #000000;
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
}

.icon-close:hover,
.icon-close:focus {
  fill: #2196F3;
}

.form-modal-title {
  padding-top: 40px;
  margin-bottom: 12px;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

/* Модальне вікно користувача */
.form-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
  width: 448px;
  height: 400px;
}

.form {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group {
  position: relative;
  gap: 10px;
}

.form-field {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border-color var(--animation-time);
  transition: border-color var(--animation-time);
}

.form-field:focus,
.form-field:hover {
  border-color: var(--accent);
}

.form-field:-moz-placeholder-shown {
  border-color: var(--accent);
}

.form-field:-ms-input-placeholder {
  border-color: var(--accent);
}

.form-field:focus,
.form-field:placeholder-shown {
  border-color: var(--accent);
}

.form-field:focus + .form-icon,
.form-field:hover + .form-icon {
  fill: var(--accent);
}

.form-name {
  color: #757575;
  font-size: 12px;
  line-height: 1.1666666667;
}

.form-icon {
  margin-right: 5px;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-220%);
          transform: translateY(-220%);
  -webkit-transition: fill var(--animation-time);
  transition: fill var(--animation-time);
}

.message-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-group-coments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form-groups.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.texteria-field {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  border-radius: 3px;
  -webkit-transition: border-color var(--animation-time);
  transition: border-color var(--animation-time);
}

.texteria-field:hover,
.texteria-field:focus {
  outline: 2px solid var(--accent);
}

.comments-user {
  width: 100%;
  margin-bottom: 5px;
  color: #757575;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.1666666667;
  border-color: #757575;
  -webkit-transition: border-color 200ms;
  transition: border-color 200ms;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--secondary-hesd-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8.38px;
  -webkit-transition: background-color var(--animation-time), border-color var(--animation-time), outline var(--animation-time);
  transition: background-color var(--animation-time), border-color var(--animation-time), outline var(--animation-time);
}

button.button-send {
  margin-top: 30px;
  margin-bottom: 40px;
}

.user-icon-message {
  width: 16px;
  height: 15px;
  fill: #fff;
  outline: 1px solid #212121;
  margin-right: 9px;
  border-radius: 3px;
}

.dogovor-user:checked + .checkbox-icon {
  background-color: #2196F3;
  border-color: #2196F3;
  outline: 2px solid var(--accent);
}

.user-icon-message-text {
  color: #757575;
  margin-bottom: 20px;
}

.button-send {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  padding: 0;
  width: 200px;
  height: 50px;
  color: #EEEEEE;
  background-color: #2196F3;
  border-radius: 4px;
  font-size: 16px;
  -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
}

.dogovor-link {
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */