.hero {
    max-width: 1600px;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2F303A;
}

.hero__group {
    max-width: 696px;
}

.hero__title {
    margin-bottom: 40px;
}

.hero__button {
    padding: 10px, 32px;
    width: 200px;
    height: 50px;
    border-radius: 4px;

    color: var(--fon-second);
    background-color: var(--accent);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    
    border: 0px;
    text-align: center;

    margin: auto;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: var(--animation-time);


}

